* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FFB900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/*===== Common======  */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;

}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;

}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* ====Header========= */
.header {
    background: #FFFCF4;
}

.header .fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;


}

.nav ul {
    display: flex;
}

.nav {

    margin-left: auto;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    color: #5F5B53;
    font-size: 1.6rem;


}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* ======== HERO ====================*/
.hero {
    padding: 56px 0 65px;
    background: #FFFCF4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .hero-img {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
    display: block;
}

.hero .hero-summary {
    padding: 28px 24px;
    position: absolute;
    width: 270px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    bottom: 48px;
    right: 0;

}

.hero .item {
    display: flex;
    align-items: center;
}

.hero .item+.item {
    margin-top: 22px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #FFF9E8;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-summary .info {
    margin-left: 16px;

}

.hero-summary .label {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85;
    /* 185.714% */
}

.hero-summary .title {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66;
    /* 166.667% */
}

.content-block .heading {
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 117.241% */
    letter-spacing: -1.16px;
}

.content-block .desc {
    margin-top: 22px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
    /* 166.667% */
}

.content-block .cta-group {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.content-block .hero-btn {
    min-width: 180px;
    line-height: 64px;
    background: var(--primary-color);
}

.content-block .watch-video {
    display: flex;
    margin-left: 28px;
    border: none;
    background-color: #FFFCF4;
    align-items: center;
    cursor: pointer;
}

.content-block .icon {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-block .watch-video-label {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66;
    /* 166.667% */
}

.stats strong {
    padding-left: 28px;
    padding-right: 8px;
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.22;
    /* 122.727% */
}

.content-block .stats {
    margin-left: -28px;
}

/* ====== Popular============= */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular .heading {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.26;
    /* 126.316% */
    letter-spacing: -0.76px;

}

.popular .desc {
    max-width: 458px;
    margin-top: 16px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
    /* 166.667% */
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .control {
    display: flex;
}

.popular .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    margin-left: 18px;
    background-color: #ffffff;
    cursor: pointer;
}

.popular .control-btn:hover {
    background-color: var(--primary-color);
}

.popular .course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .course-item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #E2DFDA;
    background: #FFF;
}

.popular .course-item .thumb {
    margin: -1px;
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .info {
    padding: 16px 22px 22px 22px;


}

.popular .foot,
.popular .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .course-item .title {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.7;
    /* 166.667% */
}

.popular .course-item .value {
    color: #FEA31B;

    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
    /* 175% */
}

.popular .course-item .desc {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85;
    /* 185.714% */
}

.popular .foot {
    margin-top: 12px;
}

.popular .foot .price {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.7;
    /* 166.667% */
}

.popular .foot .btn-book {
    border: none;
}

.popular .foot .btn-book:hover {
    background-color: var(--primary-color);
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

/* ========Feedback================================== */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2E2100;
}


.feedback .feedback-item {
    display: flex;
    justify-content: space-between;
}

.feedback .avt {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .feedback-item .title {
    margin-top: 18px;
    color: #F7F7F7;
    font-family: Sen;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.41;
    /* 141.667% */
}

.feedback .feedback-item .desc {
    color: #BFBCB2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85;
    /* 185.714% */
}

.feedback .feedback-desc {
    width: 63%;
}

.feedback blockquote {
    color: #FFF;
    font-family: Poppins;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53;
    /* 153.846% */
}

.feedback .dots {
    margin-top: 28px;
}

.feedback .dots span {
    width: 6px;
    height: 6px;
}

/* ============Features================= */
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .img {
    display: flex;
    gap: 0 30px;

}

.features .img img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.features .img .first-img {
    margin-top: 34px;
}

.features .info {
    width: 41%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.features .heading {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.26;
    /* 126.316% */
    letter-spacing: -0.76px;
}

.features .info .desc {
    margin-top: 16px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
    /* 175% */
}

.features .features-btn {
    margin-top: 32px;
    width: 137px;
    background-color: var(--primary-color);
}

.features-2 {
    margin-top: 70px;
}

.features-2 .body {
    flex-direction: row-reverse;
}

.features-2 .info {
    width: 49%;
}

.features-2 .img img {
    width: 470px;
    height: 440px;
}

/* ===============Blog==================== */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background-color: #FFFCF4;
}

.blog .heading {
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.blog .desc {
    width: 448px;
    color: #696262;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
    margin-left: auto;
    margin-right: auto;
    /* 175% */
}

.blog .blog-list {
    display: flex;
    margin-top: 55px;
    gap: 0 30px;
}

.blog .blog-item {
    width: 33.33%;
    border-radius: 16px;
    background: #FFF;
}

.blog .blog-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .info {
    padding: 28px 20px;
}

.blog .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85;
    /* 185.714% */
}

.blog .date::before {
    display: inline-block;
    margin-right: 4px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.blog .date::after {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    content: "";
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
}

.blog .blog-item .title {
    color: #171100;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75;
    margin-top: 12px;
    margin-bottom: 12px;
    /* 175% */
}

.blog .blog-btn {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;

    /* 185.714% */
}

.blog .blog-btn:hover {
    background-color: var(--primary-color);
}

.blog .blog-item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}